<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

<!--    <context:component-scan base-package="org.example.controller, org.example.service, org.example.repository"/>-->
    <bean id="accountRepository" class="org.example.model.repository.AccountRepositoryImpl"/>
    <bean id="accountService" class="org.example.service.AccountServiceImpl">
        <property name="accountRepository" ref="accountRepository"/>
    </bean>
</beans>
